* {
  font-family: 'Open Sans Condensed', sans-serif;
}

.center {
  float: center;
  margin: auto;
  width: 100%;
  text-align: center;
}

.jumbotron {
  background-color: chocolate;
  text-align: center;
  color: white;
}